<br>
<a href='<%= new_photo_path %>' id='add_photo'>Add photo</a>
<section class="photos">
	<% if @photos.any? %>
		<% @photos.each do |photo| %>
			<%= link_to(image_tag(photo.picture.url(:thumb)), photo_path(photo)) %>
			<%=  photo.comment %>
			<%= link_to "Leave comment", new_photo_comment_path(photo) %>
			<h3>Comments</h3>
			<div class="comments">
				<% if photo.comments.any? %>
					<ul>
						<% photo.comments.each do |comment| %>
							<li>
								<%= comment.comment %> 
							</li>
						<% end %>
					</ul>
				<% else %>
					<p>No comments</p>
				<% end %>
			</div>
			<%= link_to "Delete photo", photo_path(photo), method: :delete %>
		<% end %>
	<% else %>
		<h1>No photos</h1>
	<% end %>
</section>